.Card {
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    background: white;
    width: 250px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.image {
    align-self: center;
}

.Card img {
    max-width: 150px;
    height: 200px;
}

.Card_container {
    background: purple;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.Card button {
    background: red;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    align-self: center;
    margin-bottom: 20px
}